<p>This site is under construction.</p>
<h1 id="love-dark-theme">Love Dark Theme</h1>
<p>Love Dark, a theme for <a href="https://standardnotes.org/">Standard Notes</a>, is based on the dark variant of the <a href="https://love.holllo.cc/">Love theme</a>.</p>
<h1 id="installation">Installation</h1>
<ol class="incremental" type="1">
<li>Open your Standard Notes desktop/web client</li>
<li>Click “Extensions” at the bottom left</li>
<li>Click “Import Extensions”</li>
<li>Paste <a href="https://refragable.gitlab.io/sn-theme-love-dark/love-dark.json">this link</a> and press enter</li>
<li>Install the extension</li>
</ol>
<h1 id="license">License</h1>
<p><a href="https://gitlab.com/refragable/sn-theme-love-dark/-/blob/master/LICENSE">AGPLv3</a></p>
<h1 id="credits">Credits</h1>
<p>Based on SN’s <a href="https://github.com/sn-extensions/autobiography-theme">Autobiography theme</a></p>
