:root {
  --background-1: #2A2041;
  --background-2: #1F1731;
  --foreground-color: #F2EFFF;
  --border-color: #E6DEFF;
  --highlight-color: #41C8E5;
  --highlight-contrast: #144D5A;

  --sn-stylekit-info-color: #41C8E5;
  --sn-stylekit-info-contrast-color: #144D5A;

  --sn-stylekit-neutral-color: #41C8E5;
  --sn-stylekit-neutral-contrast-color: #144D5A;

  --sn-stylekit-success-color: #3BD18A;
  --sn-stylekit-success-contrast-color: #115133;

  --sn-stylekit-warning-color: #D2B83A;
  --sn-stylekit-warning-contrast-color: #514610;

  --sn-stylekit-danger-color: #F99ADD;
  --sn-stylekit-danger-contrast-color: #81156A;

  --sn-stylekit-shadow-color: var(--background-2);

  --sn-stylekit-background-color: var(--background-1);
  --sn-stylekit-foreground-color: var(--foreground-color);
  --sn-stylekit-border-color: var(--border-color);

  --sn-stylekit-paragraph-text-color: var(--foreground-color);

  --sn-stylekit-contrast-background-color: var(--background-2);
  --sn-stylekit-contrast-foreground-color: var(--foreground-color);
  --sn-stylekit-contrast-border-color: var(--border-color);

  --sn-stylekit-secondary-background-color: var(--background-1);
  --sn-stylekit-secondary-foreground-color: var(--foreground-color);
  --sn-stylekit-secondary-border-color: var(--border-color);

  --sn-stylekit-secondary-contrast-background-color: var(--background-2);
  --sn-stylekit-secondary-contrast-foreground-color: var(--foreground-color);
  --sn-stylekit-secondary-contrast-border-color: var(--border-color);

  --sn-stylekit-editor-background-color: var(--sn-stylekit-background-color);
  --sn-stylekit-editor-foreground-color: var(--sn-stylekit-foreground-color);

  --sn-stylekit-scrollbar-track-border-color: var(--border-color);
  --sn-stylekit-scrollbar-thumb-color: var(--sn-stylekit-info-color);

  --sn-desktop-titlebar-bg-color: var(--background-1);
  --sn-desktop-titlebar-border-color: var(--border-color);
  --sn-desktop-titlebar-ui-color: var(--foreground-color);
  --sn-desktop-titlebar-ui-hover-color: var(--highlight-color);
}

#notes-column .note.selected, .notes .note.selected {
  background-color: #1F1731 !important;
  color: var(--sn-stylekit-contrast-foreground-color) !important;
}
